.sidenav {
  height: 100%; 
  width: 16rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 2.0rem;
}

.sidenav a {
  padding: 0.6rem 0.8rem 0.6rem 1.6rem;
  text-decoration: none;
  font-size: 2rem;
  color: #818181;
  display: block;
}


.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 16rem;
  padding: 0px 1rem;
}

@media screen and (max-height: 45rem) {
  .sidenav {padding-top: 1.5rem;}
  .sidenav a {font-size: 1.8rem;}
}